:root {
    --color-bg-nav: #f4f1ea;
    --color-bg-body: #fff;
    --color-bg-card: #faf8f6;
    --color-bg-footer: #f4f1ea;

    --color-text-body-light: #4f4f4d;
    --color-text-body-standard: #1e1915;
    --color-text-disabled: #8e8e97;

    --color-btn-wtr-base: #3f8363;
    --color-btn-wtr-hover: #409970;

    --color-bg-rating-star-base: #e87400;
    --color-bg-rating-star-empty: #c2c7cc;
    --color-bg-rating-star-border: #8e8e97;

    --color-input-border: #dcd6cc;
    --color-input-bg: #fff;



}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-body);

}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;

    outline: 1px solid rebeccapurple;
}