:root {
    --color-bg-nav: #f4f1ea;
    --color-bg-body: #fff;
    --color-text: #1e1915;
    --color-bg-card: #faf8f6;
    --color-bg-footer: #f4f1ea;

    --color-btn-wtr-base: #3f8363;
    --color-btn-wtr-hover: #409970;

    

}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}